* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Benguiat";
    src: url(assets/fonts/Benguiat-Bold\ Regular.woff);
}

body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
}

button{
    font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 9;
}

.hero {
  background-image: url("assets/images/heroBg.webp");
  background-position: 50% 0%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;

  .esquerda, .direita {
    width: 30%;
  }

  .esquerda {
    h3 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 4px;
    }
    h1 {
       font-size: 3.7vw;
       font-family: "Benguiat";
    }
  }

  .direita {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    p {
        font-size: 2vw;
        margin-bottom: 32px;
    }

    button {
        background-color: transparent;
        color: white;
        font-size: 16px;
        display: flex;
        gap: 12px;
        border: none;
        outline: none;
        padding: 16px 0px;
        border-bottom: 1px solid white;
    }
  }
}